<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoCManagerBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <CoCManagerBot.Properties.Settings>
            <setting name="CoCAPIKey" serializeAs="String">
                <value>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjA4MWNlYjE2LTViMjEtNDQ1Mi04MjcyLTA5NDNiOTcyMDBkMiIsImlhdCI6MTUwOTA1MDU2MCwic3ViIjoiZGV2ZWxvcGVyLzAzMmYzNDljLTgxYjQtZmExYy0xMGE4LTQwZmZkNDIzZDFiMCIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjY2LjE2OS4xNzYuMzAiLCIxNjguNjEuNDAuMTk1IiwiMTYyLjcxLjI0MS4xOCJdLCJ0eXBlIjoiY2xpZW50In1dfQ.TA-LBoLSpnBA9-Kxtv3Akq3lgn1M_JIfACv5Nx2Kg1qgIyJCnEU45QPrpmGaAPu3P8dVC-csaxsxrxGRp87s-g</value>
            </setting>
            <setting name="TelegramAPIKey" serializeAs="String">
                <value>469062626:AAEFmy_yCORl4We1j-ZjcebFRbr0gTX5iEU</value>
            </setting>
        </CoCManagerBot.Properties.Settings>
    </applicationSettings>
</configuration>